<p>hotel-details works!</p>
<div id="detail-main">
    <div id="hero-detail">
        <app-navbar></app-navbar>
        <div id="hero-search">
            <form id="search-form">
                <mat-form-field class="search-form-field">
                    <mat-label>Location</mat-label>
                    <input matInput type="text" readonly
                           [value]="search.location">
                </mat-form-field>

                <mat-form-field class="search-form-field">
                    <mat-label>Check-in - Check-out</mat-label>
                    <mat-date-range-input>
                      <input matStartDate readonly [ngModel]="search.checkInDate" name="checkInDate" id="" placeholder="Check-in">
                      <input matEndDate readonly [ngModel]="search.checkOutDate" name="checkOutDate" id="" placeholder="Check-out">
                    </mat-date-range-input>
                    <mat-hint style="color: wheat;">MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                </mat-form-field>

                  <mat-form-field class="search-form-field">
                    <mat-label>No. of Adult</mat-label>
                    <input matInput readonly type="number" [ngModel]="search.noOfAdult" name="noOfAdult" id="" placeholder="Ex. 4" value="1">
                  </mat-form-field>

                  <mat-form-field class="search-form-field">
                    <mat-label>No. of Rooms</mat-label>
                    <input matInput readonly type="number" [ngModel]="search.noOfRooms" name="noOfRooms" id="" placeholder="Ex. 2" value="1">
                  </mat-form-field>
                
              </form>
        </div>
    </div>
    <div id="hotel-detail" *ngIf="hotel$ | async as hotel">
        
        <!-- <h4>Location: {{ search.location }}</h4>
        <h4>Check in: {{ search.checkInDate.toString().slice(0, 15) }}</h4>
        <h4>Check out: {{ search.checkOutDate.toString().slice(0, 15) }}</h4>
        <h4>no of adult: {{ search.noOfAdult }}</h4>
        <h4>no of rooms: {{ search.noOfRooms }}</h4> -->

        <!-- <h1> Hotel Name: {{ hotel.hotel.name }} </h1>
        <h3> Hotel Country: {{ hotel.hotel.country }} </h3>
        <h3> Hotel District: {{ hotel.hotel.district }} </h3>
        <h3> Hotel Street: {{ hotel.hotel.street }} </h3>
        <h3> Hotel Contact: {{ hotel.hotel.contact }} </h3> -->

        <h1 id="hotel-name">{{ hotel.hotel.name }}</h1>

        <mat-grid-list cols="4" rowHeight="200px">
            <mat-grid-tile  colspan=2 rowspan=2 >
                <img class="image" src={{hotel.hotel.images[0].url}} alt={{hotel.hotel.images[0].name}} >
            </mat-grid-tile>
            <mat-grid-tile  colspan=1 rowspan=1>
                <img class="image" src={{hotel.hotel.images[1].url}} alt={{hotel.hotel.images[1].name}} >
            </mat-grid-tile>
            <mat-grid-tile  colspan=1 rowspan=1>
                <img class="image" src={{hotel.hotel.images[2].url}} alt={{hotel.hotel.images[2].name}} >
            </mat-grid-tile>
            <mat-grid-tile  colspan=1 rowspan=1>
                <img class="image" src={{hotel.hotel.images[3].url}} alt={{hotel.hotel.images[3].name}} >
            </mat-grid-tile>
            <mat-grid-tile  colspan=1 rowspan=1>
                <img class="image" src={{hotel.hotel.images[4].url}} alt={{hotel.hotel.images[4].name}} >
            </mat-grid-tile>
        </mat-grid-list>

        <div style="display: flex; justify-content: space-between;">
            <div>
                <h4>{{ hotel.hotel.country }}</h4>
                <h4>{{ hotel.hotel.district }}</h4>
                <h4><img style="filter: invert(70%) sepia(32%) saturate(875%) hue-rotate(19deg) brightness(99%) contrast(87%);" src="../../assets/location_icon.svg" alt="locaion">{{ hotel.hotel.street }}</h4>
            </div>
            <div>
                <div style="display: flex; align-items: center ;">
                    <img src="../../assets/Star 1.svg" alt="star"><h4>4.7</h4>
                </div>
                <div style="display: flex; align-items: center ;">
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="phone"></mat-icon>
                    <h4>{{ hotel.hotel.contact }}</h4>
                </div>
                
            </div>
        </div>
        
        <mat-divider></mat-divider>
        <div>
            <h3>Hotel Facilities</h3>
            <mat-list>
                <mat-list-item *ngFor="let facility of hotel.hotel.facilities">
                  <span matListItemTitle>{{ facility.name }}</span>
                  <span matListItemLine>{{ facility.description }}</span>
                </mat-list-item>
            </mat-list>
        </div>
        <mat-divider></mat-divider>
            <div>
                <div>
                    <h3>About This Hotel</h3>
                    <p style="color: grey;">{{ hotel.hotel.description }}</p>
                </div>
            </div>
        <mat-divider></mat-divider>

            <div>
                <h3>Available Room Types</h3>
            </div>
            <div>
                <mat-selection-list #roomTypes [multiple]="false">
                    <p>
                        Option selected: {{roomTypes.selectedOptions.hasValue() ? roomTypes.selectedOptions.selected[0].value : 'None'}}
                    </p>
                    @for (roomType of hotel.roomTypeWithPricings; track roomType) {
                        {{roomType.avialableRooms}}
                        <div style="display: flex;">
                    <mat-list-option  style="flex-basis: 50%;" [value]="roomType.roomType.name" (click)="setSelectedRoomType(roomType)">
                            <div>
                                <span matListItemTitle>{{ roomType.roomType.name }}</span>
                                <span matListItemLine>{{ roomType.roomType.description }}</span>
                                <span matListItemLine>MaxAdult: {{ roomType.roomType.maxAdult }}</span>
                                <span matListItemLine>Price: {{ roomType.pricing.price }}</span>
                                <ul>
                                    <li *ngFor="let fac of roomType.roomType.roomTypeFacilities"> {{fac.name}} </li>
                                </ul>
                            </div>
                            
                        
                    </mat-list-option>
                    <div style="flex-basis: 50%;display: flex;padding: 20px;margin-left: 10px;padding-top: 0px;" *ngIf="selectedRoomType.roomType.id == roomType.roomType.id">
                        <!-- <button (click)="showSupplements()">Add Supplements</button> -->
                        <!-- <div *ngIf="isSupplements && hotel.supplementWithPricings.length > 0"> -->
                        <div style="flex-basis: 50%;" *ngIf="hotel.supplementWithPricings.length > 0">
                            <h4>Supplements</h4>
                            <div style="display: flex;" *ngFor="let supplement of hotel.supplementWithPricings">
                                <!-- <label for="{{supplement.supplement.name}}">
                                    Name: {{supplement.supplement.name}}
                                    price: {{supplement.pricing.price}}
                                </label> -->
                                <div>
                                    <label for="{{supplement.supplement.name}}">
                                    <span matListItemTitle>{{supplement.supplement.name}}</span>
                                    <span matListItemLine>Price: {{supplement.pricing.price}}</span>
                                    </label>
                                </div>
                                 <input type="checkbox" name="{{supplement.supplement.name}}" id="{{supplement.supplement.name}}" (change)="selectSupplement($event, supplement)">
                            </div>
                             
                        </div>
                        <div style="flex-basis: 50%;">
                            <button id="btn-reserve" style="margin-left: 40%;margin-top: 20%;" type="button" (click)="whenClickReserve()">Reserve</button>
                        </div>
                    </div>
                </div>
                }
                </mat-selection-list>
            </div>
        <mat-divider></mat-divider>
        <!-- <div>
            <div *ngFor="let roomType of hotel.roomTypeWithPricings">
                <input type="radio" name="roomType" value="{{roomType.roomType.id}}" id="{{roomType.roomType.id}}" (click)="setSelectedRoomType(roomType)">
                <label for="{{roomType.roomType.id}}">
                    <h5>{{roomType.roomType.name}}</h5>
                    <h6>{{roomType.pricing.price}}</h6>
                    <h6>avialable rooms: {{roomType.avialableRooms}}</h6>
                </label>
                <div *ngIf="selectedRoomType.roomType.id == roomType.roomType.id">
                    <button (click)="showSupplements()">Add Supplements</button>
                    <div *ngIf="isSupplements && hotel.supplementWithPricings.length > 0">
                        <div *ngFor="let supplement of hotel.supplementWithPricings">
                            <label for="{{supplement.supplement.name}}">
                                price: {{supplement.pricing.price}}
                            </label>
                            {{supplement.supplement.name}} <input type="checkbox" name="{{supplement.supplement.name}}" id="{{supplement.supplement.name}}" (change)="selectSupplement($event, supplement)">
                        </div>
                    </div>
                    <button type="button" (click)="whenClickReserve()">Reserve</button>
            </div>
        </div>
    </div> -->
</div>
<app-footer></app-footer>