<form action="">
    Hotel Name: <input type="text" [(ngModel)]="name" name="name">
    <br><br>
    Country: <input type="text" [(ngModel)]="country" name="country">
    <br><br>
    District: <input type="text" [(ngModel)]="district" name="district">
    <br><br>
    Street: <input type="text" [(ngModel)]="street" name="street">
    <br><br>
    Contact: <input type="text" [(ngModel)]="contact" name="contact">
    <br><br>
    Descriptoin: <input type="text" [(ngModel)]="description" name="description">
    <br><br>
    Facilities: <button type="button" (click)="showAddFacility()">Add Facility</button>
    <div *ngIf="isFacility">
        <br><br>
        Facility Name: <input type="text" [(ngModel)]="facilityName" name="facilityName">
        <br><br>
        Facility Description <input type="text" [(ngModel)]="facilityDescription" name="facilityDescription">
        <br><br>
        <button type="button" (click)="addFacility()">Add</button>
    </div>
    <ul *ngIf="facilities.length > 0">
        <li *ngFor="let facility of facilities;let i = index">
            <p>{{facility.name}}</p>
            <p>{{facility.description}}</p>
            <button type="button" (click)="removeFacility(i)">remove</button>
        </li>
    </ul>
    <br><br>
    Images: <button type="button" (click)="showAddImage()">Add Image</button>
    <div *ngIf="isImage">
        <label for="hotel-image"><img style="height: 200px; width: 200;" [src]="labelImage" alt='profile-pic' id="profile-pic"/></label>
            <input type="file" name="hotelImage" accept="image/jpeg, image/png, image/jpg" id="hotel-image" style="display: none;height: 200px; width: 200;" (change)="changeImage($event)" required/>
        <br><br>
        Image Name: <input type="text" readonly [(ngModel)]="imageName" name="imageName">
        <br><br>
        Image url <input type="text" readonly [(ngModel)]="imageUrl" name="imageUrl">
        <br><br>
        <button type="button" (click)="addImage()">Add</button>
    </div>
    <ul *ngIf="images.length > 0">
        <li *ngFor="let image of images;let i = index">
            <img style="height: 200px; width: 200;" src={{image.url}} alt={{image.name}}>
            <p>{{image.name}}</p>
            <p>{{image.url}}</p>
            <button type="button" (click)="removeImage(i)">remove</button>
        </li>
    </ul>
    <br><br>
    <button type="submit" (click)="addHotel()">Add Hotel</button>
</form>
