<div id="discount-add-main">
    <div style="background-color: black;">
        <app-navbar></app-navbar>
    </div>

    <form *ngIf="discount$" id="discount-add-form" action="">
        <h1 style="text-align: center;">EDIT DISCOUNT</h1>
        <div>
            <div id="discount-detail">
                Name: <input type="text" [(ngModel)]="discountName" name="discountName">
                <br><br>
                Description <input type="text" [(ngModel)]="discountDescription" name="discountDescription">
                <br><br>
                Percentage <input type="number" [(ngModel)]="discountPercentage" name="discountPercentage">
                <br><br>
                Days Prior To Arrival <input type="number" [(ngModel)]="daysPriorToArrival" name="daysPriorToArrival">
                <br><br>
                <div style="display: flex; justify-content: space-between;">
                    <button id="btn-delete" (click)="cancel()" type="button">Cancel</button>
                    <button id="btn-add" (click)="editDiscount()" type="button">Edit</button>
                </div>
            </div>
        </div>
    </form>
</div>
<app-footer></app-footer>
