<p>edit-roomtype works!</p>
<div id="roomtype-add-main">
    <div style="background-color: black;">
        <app-navbar></app-navbar>
    </div>

    <form *ngIf="roomtype$" id="roomtype-add-form" action="">
        <h1 style="text-align: center;">EDIT ROOMTYPE</h1>
        <div>
            <div id="roomtype-detail">
                Name: <input type="text" [(ngModel)]="roomTypeName" name="roomTypeName">
                <br><br>
                Description: <input type="text" [(ngModel)]="roomTypeDescription" name="roomTypeDescription">
                <br><br>
                Max Adult: <input type="number" [(ngModel)]="roomTypeMaxAdult" name="roomTypeMaxAdult">
                <br><br>
                <div style="display: flex; justify-content: space-between;">
                    <button id="btn-delete" (click)="cancel()" type="button">Cancel</button>
                    <button id="btn-add" (click)="editRoomtype()" type="button">Edit</button>
                </div>
            </div>
        </div>
    </form>
</div>
<app-footer></app-footer>