
<div id="booking-main">
    <div *ngIf="selectedValue$ | async as selectedValue">
        <div id="hero-booking">
            <app-navbar></app-navbar>
            <div id="hero-search">
                <form id="search-form">
                    <mat-form-field class="search-form-field">
                        <mat-label>Location</mat-label>
                        <input matInput type="text" readonly
                               [value]="selectedValue.search.location">
                    </mat-form-field>
    
                    <mat-form-field class="search-form-field">
                        <mat-label>Check-in - Check-out</mat-label>
                        <mat-date-range-input>
                          <input matStartDate readonly [ngModel]="selectedValue.search.checkInDate" name="checkInDate" id="" placeholder="Check-in">
                          <input matEndDate readonly [ngModel]="selectedValue.search.checkOutDate" name="checkOutDate" id="" placeholder="Check-out">
                        </mat-date-range-input>
                        <mat-hint style="color: wheat;">MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                    </mat-form-field>
    
                      <mat-form-field class="search-form-field">
                        <mat-label>No. of Adult</mat-label>
                        <input matInput readonly type="number" [ngModel]="selectedValue.search.noOfAdult" name="noOfAdult" id="" placeholder="Ex. 4" value="1">
                      </mat-form-field>
    
                      <mat-form-field class="search-form-field">
                        <mat-label>No. of Rooms</mat-label>
                        <input matInput readonly type="number" [ngModel]="selectedValue.search.noOfRooms" name="noOfRooms" id="" placeholder="Ex. 2" value="1">
                      </mat-form-field>
                    
                  </form>
            </div>
        </div>
        <!-- <div>
            <h3>{{selectedValue.search.location}}</h3>
            <h3>{{selectedValue.search.checkInDate}}</h3>
            <h3>{{selectedValue.search.checkOutDate}}</h3>
            <h3>{{selectedValue.search.noOfAdult}}</h3>
            <h3>{{selectedValue.search.noOfRooms}}</h3>
        </div> -->
        <div id="booking-section">
            <div>
                <h1>Confirm and Pay</h1>
            </div>
            <div style="display: flex;">
                <div style="flex-basis: 50%;">
                    <div style="display: flex; justify-content: space-between;">
                        <p>{{selectedValue.search.noOfAdult}} adults</p>
                        <p>{{calculateNoOfNights(selectedValue.search.checkInDate, selectedValue.search.checkOutDate)}} nights</p>
                    </div>
                    <div>
                        <h4>Hotel: {{selectedValue.hotel.name}}</h4>
                        <b>RoomType:</b>
                        <!-- <h4>{{ selectedValue.selectedRoomtype.roomType.name}} - {{ selectedValue.selectedRoomtype.pricing.price}}</h4> -->
                        <div style="display: flex; justify-content: space-between;">
                            <p>{{ selectedValue.selectedRoomtype.roomType.name}}</p>
                            <!-- <p>{{ selectedValue.selectedRoomtype.pricing.price}}</p> -->
                            <p>{{calculatePriceWithDiscount(selectedValue.selectedRoomtype.pricing.price, selectedValue.search.noOfRooms, selectedValue.search.noOfAdult, selectedValue.selectedDiscount, selectedValue.markup, calculateNoOfNights(selectedValue.search.checkInDate, selectedValue.search.checkOutDate))}}</p>
                        </div>
                        <b *ngIf="selectedValue.selectedSupplements.length > 0">Supplements: </b>
                        <!-- <h4 *ngFor="let sup of selectedValue.selectedSupplements">{{sup.supplement.name}} - {{sup.pricing.price}}</h4> -->
                        <div *ngFor="let sup of selectedValue.selectedSupplements" style="display: flex; justify-content: space-between;">
                            <p>{{sup.supplement.name}}</p>
                            <p>{{sup.pricing.price}}</p>
                            
                        </div>
                        <span *ngIf="selectedValue.selectedDiscount != null">
                            <!-- discount: 
                            <h4>{{selectedValue.selectedDiscount.percentage}}%</h4> -->
                            <div style="display: flex; justify-content: space-between;">
                                <p>Discount: </p>
                                <p>{{selectedValue.selectedDiscount.percentage}}%</p>
                            </div>
                        </span>
                        <br>
                        <div style="display: flex; justify-content: space-between;">
                            <p>Service Charge:</p>
                            <p>{{selectedValue.markup}}%</p>
                        </div>
                        <!-- service charge: <h4>{{selectedValue.markup}}%</h4> -->
                        <br>
                        <div style="display: flex; justify-content: space-between;">
                            <p>Total:</p>
                            <p>{{selectedValue.total}}</p>
                        </div> 
                        <!-- Total: <h4>{{selectedValue.total}}</h4> -->
                    </div>
                    <div>
                        <br><br>
                        <span style="display: block;color: red; font-size: small; margin: 0px 10px;" *ngIf="needPassenger && selectedValue.search.noOfAdult - passengers.length != 0">Needs to add passenger details </span>
                        Passengers: needs {{selectedValue.search.noOfAdult - passengers.length}}
                        <div id="passenger-add" *ngIf="passengers.length < selectedValue.search.noOfAdult">
                            <span style="display: block;color: red; font-size: small; margin: 0px 10px;" *ngIf="passengerAdd && (passengerName == '' || passengerPhone == '') ">Fiels should not be empty</span>
                            Passenger Name: <input type="text" [(ngModel)]="passengerName" name=" passengerName">
                            <br><br>
                            Passenger Phone <input  type="text" [(ngModel)]="passengerPhone" name="passengerPhone">
                            <br><br>
                            
                            <button id="btn-add" type="button" (click)="addPassenger()">Add</button>
                        </div>
                        <mat-list *ngIf="passengers.length > 0">
                            <mat-list-item *ngFor="let passengers of passengers;let i = index" >
                                <div id="passenger-display">
                                    <div>
                                        <span matListItemTitle>Name: {{passengers.name}}</span>
                                        <span matListItemLine>Phone: {{passengers.phone}}</span>
                                    </div>
                                    <button id="btn-delete" type="button" (click)="removePassenger(i)">remove</button>
                                </div>
                            </mat-list-item>
                        </mat-list>
                        <!-- <ul *ngIf="passengers.length > 0">
                            <li *ngFor="let passengers of passengers;let i = index">
                                <p>{{passengers.name}}</p>
                                <p>{{passengers.phone}}</p>
                                <button type="button" (click)="removePassenger(i)">remove</button>
                            </li>
                        </ul> -->
                    </div>
                </div>
                <div style="flex-basis: 50%;" id="booking-payment">
                    <span style="display: block;color: red; font-size: small; margin: 0px 10px;" *ngIf="paymentAdd && (paymentMethod == '' || cardNumber == '' || expiration == '' || cvv <= 0 || billingAddress == '' || billingCity == '' || zipcode == '') ">Fiels should not be empty</span>
                    Payment:
                    <select [(ngModel)]="paymentMethod" id="" >
                        <option value="card" ngValue="card">Card</option>
                    </select>
                    <br><br>
                    Card Number: <input type="text" [(ngModel)]="cardNumber" name="cardNumber"/>
                    <br>
                    Expiration: <input type="text" [(ngModel)]="expiration" name="expiration">
                    <br>
                    cvv: <input type="number" [(ngModel)]="cvv" name="cvv">
    
                    <br><br>
                    Billing address:
                    Address: <input type="text" [(ngModel)]="billingAddress" name="billingAddress">
                    city: <input type="text" [(ngModel)]="billingCity" name="billingCity">
                    zipcode: <input type="text" [(ngModel)]="zipcode" name="zipcode">
                    <div>
                        <button id="btn-reserve" (click)="addBookig(selectedValue.selectedRoomtype, selectedValue.selectedSupplements, selectedValue.selectedDiscount, selectedValue.search, selectedValue.markup, selectedValue.hotel)">Book</button>
                    </div>
                </div>
            </div>
            

        </div>
    </div>
</div>
<app-footer></app-footer>